$main-fonts: 'Poppins', sans-serif;
$primary-bg: '../img/snow.jpeg';

.big-text {
    font-size: 70px;
    font-family: inherit;
    font-weight: bold;
}

.small-text {
    margin-top: -80px;
    // color: #333;
    font-weight: bold;
    opacity: 0.5;
}